<% layout('layouts/boilerplate') %>  
<form action="/user/login" method="post" class="validate-form" novalidate>
    <div class="col-md-4 mb-2">
        <label for="username" class="form-label">USERNAME</label>
        <input type="text" class="form-control" id="username" name="username" required>
        <div class="invalid-feedback">Please provide a username.</div>
        <div class="valid-feedback">Looks Good!</div>
    </div>
    <div class="col-md-4 mb-2">
        <label for="password" class="form-label">PASSWORD</label>
        <input type="password" class="form-control" id="password" name="password" required>
        <div class="invalid-feedback">Please provide a password.</div>
        <div class="valid-feedback">Looks Good!</div>
    </div>
    <div class="col-12 mb-2">
        <button class="btn btn-primary mb-2" type="submit">LOGIN</button>
    </div>
</form>